@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #121212;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: clip;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}